@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Advent-Pro-Bold";
  src: url("./assets/fonts/advent-pro.bold.ttf") format("opentype");
}

@font-face {
  font-family: "Advent-Pro-SemiBold";
  src: url("./assets/fonts/advent-pro.semibold.ttf") format("opentype");
}

@font-face {
  font-family: "Advent-Pro-Regular";
  src: url("./assets/fonts/advent-pro.regular.ttf") format("opentype");
}
