@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100%;
  background-color: #000000;
  margin: 0;
  padding: 0;
}
.profile{
  clip-path: polygon( 85.389% 0%,1.429% 0%,1.429% 0%,1.197% 0.047%,0.977% 0.182%,0.772% 0.399%,0.585% 0.689%,0.418% 1.046%,0.276% 1.462%,0.159% 1.93%,0.073% 2.443%,0.019% 2.992%,0% 3.571%,0% 84.043%,0% 84.043%,0.008% 84.418%,0.031% 84.784%,0.069% 85.139%,0.121% 85.481%,0.186% 85.807%,0.265% 86.115%,0.356% 86.402%,0.459% 86.665%,0.572% 86.903%,0.697% 87.111%,9.007% 99.496%,9.007% 99.496%,9.074% 99.59%,9.143% 99.675%,9.214% 99.75%,9.286% 99.816%,9.359% 99.872%,9.433% 99.918%,9.509% 99.953%,9.585% 99.979%,9.661% 99.995%,9.738% 100%,98.571% 100%,98.571% 100%,98.803% 99.953%,99.023% 99.818%,99.228% 99.601%,99.415% 99.311%,99.582% 98.954%,99.724% 98.538%,99.841% 98.07%,99.927% 97.557%,99.981% 97.008%,100% 96.429%,100% 18.942%,100% 18.942%,99.99% 18.53%,99.963% 18.129%,99.917% 17.741%,99.855% 17.372%,99.776% 17.023%,99.683% 16.698%,99.575% 16.401%,99.454% 16.134%,99.32% 15.901%,99.175% 15.705%,85.993% 0.335%,85.993% 0.335%,85.936% 0.272%,85.877% 0.215%,85.818% 0.165%,85.759% 0.122%,85.698% 0.085%,85.637% 0.054%,85.576% 0.031%,85.514% 0.014%,85.452% 0.003%,85.389% 0% ); 
}
.yellow-shadow {
  box-shadow:  0 -4px 8px -2px #434506;
}

@font-face {
  font-family: "Advent-Pro-Bold";
  src: url("./assets/fonts/advent-pro.bold.ttf") format("opentype");
}

@font-face {
  font-family: "Advent-Pro-SemiBold";
  src: url("./assets/fonts/advent-pro.semibold.ttf") format("opentype");
}

@font-face {
  font-family: "Advent-Pro-Regular";
  src: url("./assets/fonts/advent-pro.regular.ttf") format("opentype");
}
